body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.login-container {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #00000033;
    background-color: white;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 10px;
}

.login-container input[type="text"], .login-container input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-container input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}